
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdn.provider.dk/typeahead/typeahead.bundle.0.11.1.min.js"></script>
<script src="/js/handlebars-v4.0.5.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCN0J4f61UZqXBBJfdRJdIX4aF-WlWZyaw"></script>

<% include templates.ejs %>

<script>

// Instantiate the Bloodhound suggestion engine
var searcd = new Bloodhound
({
	initialize: true,
	datumTokenizer: Bloodhound.tokenizers.whitespace,
	queryTokenizer: Bloodhound.tokenizers.whitespace,
	remote:
	{
		url: 'https://dawa.aws.dk/adresser/autocomplete?q=%QUERY',
		wildcard: '%QUERY',
		filter: function (entities)
		{
			// Map the remote source JSON array to a JavaScript object array
			return jQuery.map(entities, function (entity)
			{
				return {value: entity.tekst, entity: entity};
			});
		}
	}
});

var input = jQuery('.typeahead');

// Instantiate the Typeahead UI
input.typeahead
(
	{
		minLength: 3,
		highlight: true,
		classNames:
		{
			dataset: 'list-group',
			suggestion: 'list-group-item',
			cursor: 'active'
		}
	},
	{
		source: searcd.ttAdapter(),
		limit: 10,
		displayKey: 'value',
		templates:
		{
			empty: ['<div class="list-group-item">', 'Ingen adresse matchede det søgte.', '</div>'].join('\n'),
			suggestion: function (data)
			{
				entity = data.entity;
				return '<span class="result">' + entity.tekst + '</span>';
			}
		}
	}
);

// Listener on select
input.bind('typeahead:select', function (error, entity)
{
	// Set entity
	entity = entity.entity;

	jQuery.ajax({
		url: entity.adresse.href.replace('http://', 'https://'),
		method: "GET",
		dataType: "json"
	}).done(function(response){

		var tinglysningQuery = encodeURIComponent(response.adgangsadresse.vejstykke.navn +
			" " +
			response.adgangsadresse.husnr +
			" " +
			response.adgangsadresse.postnummer.nr);

		var context = {
			title: response.adressebetegnelse,
			zone: response.adgangsadresse.zone,
			region: response.adgangsadresse.region.navn,
			sogn: response.adgangsadresse.sogn.navn,
			police_zone: response.adgangsadresse.politikreds.navn,
			vote_area: response.adgangsadresse.opstillingskreds.navn,
			lawcourt: response.adgangsadresse.retskreds.navn,
			pos: response.adgangsadresse.adgangspunkt.koordinater,
			debugoutput: JSON.stringify(response, null, 3),
			tinglysningQuery: tinglysningQuery,
			phonesearch: 'https://118.dk/search/go?where=' + tinglysningQuery
		};

		var resultHtml = resultTemplate(context);

		jQuery('#result').html(resultHtml);

		var housePos = {
			lat: response.adgangsadresse.adgangspunkt.koordinater[1],
			lng: response.adgangsadresse.adgangspunkt.koordinater[0]
		};

		var myStyles = [{
    		    featureType: "transit",
    		    elementType: "labels",
    		    stylers: [
    		          { visibility: "off" }
    		    ]
    		},
			{
    		    featureType: "poi",
    		    elementType: "labels",
    		    stylers: [
    		          { visibility: "off" }
    		    ]
    		}];


		// Create a map object and specify the DOM element for display.
		var map = new google.maps.Map(document.getElementById('map'), {
		    center: housePos,
		    zoom: 15,
		    styles: myStyles
		});

		var contentString = response.adressebetegnelse + '<br>' + housePos.lat + ', ' + housePos.lng;

		// Create a marker and set its position.
		var houseMarker = new google.maps.Marker({
		    map: map,
		    position: housePos,
		    title: response.adressebetegnelse,
		    content2 : contentString
		});

		var infowindow = new google.maps.InfoWindow({content : ""});

		var onMarkerClick = function(){
			var marker = this;
			var latLng = marker.getPosition();
  			infowindow.setContent(marker.content2);

  			infowindow.open(map, marker);
		};

		houseMarker.addListener('click', onMarkerClick);

		google.maps.event.addListener(map, 'click', function() {
  			infowindow.close();
		});

		getStores(housePos.lat, housePos.lng, 15000).done(function(stores){

			for(var i = 0; i < stores.length; i++){

				stores[i].distance = getDistance(stores[i].latitude, stores[i].longitude, housePos.lat, housePos.lng).toFixed(0);

				var storeMarker = new google.maps.Marker({
				    map: map,
				    position: {
						lat: stores[i].latitude,
						lng: stores[i].longitude
					},
				    title: stores[i].branding.name,
				    content2 : stores[i].branding.name
				});

			    google.maps.event.addListener(storeMarker, 'click', onMarkerClick);
			}

			var storesHtml = storesTemplate(stores);

			jQuery('#stores').html(storesHtml);

		});

	}).fail(function(response) {
		// TODO
	});
});

jQuery('body').on('click', '.pointer', function(e){
	jQuery(this).siblings('.panel-body').toggle('100');
});


jQuery('body').on('click', '.fetch-tinglysning-data', function(e){

	$(this).find('.fa-home').hide();
	$(this).find('.fa-spin').show();

	jQuery.ajax({
		url: "/rest/soeg/" + jQuery(this).data("query"),
		method: "GET",
		dataType: "json"
	}).done(function(response){

 		var tinglysningData = {
			debugoutput: JSON.stringify(response, null, 3)
		};

		if(response.items === null)
		{
			tinglysningData = {
				houseType: response.statustekst,
				debugoutput: JSON.stringify(response, null, 3)
			}
			var tinglysningHtml = tinglysningTemplate(tinglysningData);
			jQuery(this).parent().html(tinglysningHtml);
			return;
		}

		if(response.items.length === 1)
		{
			jQuery.ajax({
			    aync: true,
			    url: "/rest/ejendom/" + response.items[0].uuid,
			    method: "GET",
			    success: function (data) {
			    	data = JSON.parse(data);
				    tinglysningData = {
				    	debugoutput: JSON.stringify(data, null, 3),
				    	houseType: data.ejendomstype,
				    	houseVal: data.vurdering.ejendomsvaerdi,
				    	propertyVal: data.vurdering.grundvaerdi,
				    	owners: data.ejere.navn
				    }
				    var tinglysningHtml = tinglysningTemplate(tinglysningData);

					jQuery(this).parent().html(tinglysningHtml);
		        }.bind(this)
		    });
			return;
		}

		var tinglysningHtml = tinglysningTemplate(tinglysningData);

		jQuery(this).parent().html(tinglysningHtml);

	}.bind(this)).fail(function(response) {
		// TODO
	});
});

var token;

var createSession = function () {
	var api_key = "00ikl59lv39ehvruepxgdz2f7k4frjlk";
	jQuery.ajax({
		aync: true,
		url: "https://api.etilbudsavis.dk/v2/sessions",
		method: "POST",
		data: {api_key: api_key},
		success: function (data) {
			token = data.token;
		}
	});
};

var getStores = function (lat, long, radius) {
	if(!token){
		return;
	}

	var data = {_token: token, r_lat: lat, r_lng: long, r_radius: radius, order_by: "distance"};
	var ajaxPromise = jQuery.ajax({
		async: true,
		url: "https://api.etilbudsavis.dk/v2/stores",
		data: data,
		contentType: "application/json"
	});

	return ajaxPromise;
};

var getDistance = function (latA, longA, latB, longB) {
return 6378137 * Math.acos(
	Math.cos(radians(latA))
	* Math.cos(radians(latB))
	* Math.cos(radians(longB)
	- radians(longA))
	+ Math.sin(radians(latA))
	* Math.sin(radians(latB))
  );
};

var radians = function (x){
	return x * Math.PI / 180;
};

createSession();

</script>
