<% include ../templates/result.ejs %>
<% include ../templates/tinglysning.ejs %>
<% include ../templates/stores.ejs %>

<script>

    var resultSource   = jQuery("#result-template").html();
    var resultTemplate = Handlebars.compile(resultSource);

    var tinglysningSource   = jQuery("#tinglysning-template").html();
    var tinglysningTemplate = Handlebars.compile(tinglysningSource);

    var storesSource   = jQuery("#stores-template").html();
    var storesTemplate = Handlebars.compile(storesSource);
</script>
