#map{
    width: 100%;
    height: 500px;
}

.pointer {
    cursor:pointer;
}

.store {
    color: #333;
    margin-bottom: 20px;
    padding: 5px;
}

.store .store-info {
}

.store .address {
    font-size: 13px;
    font-weight: 300;
}

.store .distance {
    font-weight: 400;
    font-size: 13px;
}

.store .name {
    font-size: 16px;
    line-height: 1.2em;
    font-weight: 300;
    text-transform: uppercase;
}

.store .image-container {
    height: 70px;
    display: block;
    border: 1px solid #EAEAEA;
    border-radius: 3px;
    margin: 5px 0;
}

.store .image-container img {
    position: relative;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.store .social-icons {
    text-align: right;
    margin-top: 5px;
}

.store .social-icons a {
    color: #888;
    display: inline-block;
    padding-left: 5%;
}
