<script id="result-template" type="text/x-handlebars-template">
    <div class="addressResult">

        <a href="{{phonesearch}}" target="_blank" title="Search 118.dk"><h3>{{title}}</h3></a>

        <br>

        <div class="panel panel-default">
            <div class="panel-heading pointer">
                <div class="panel-title">
                    Adresseinformation
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    Zone
                                </div>
                            </div>
                            <div class="panel-body">
                                {{zone}}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    Region
                                </div>
                            </div>
                            <div class="panel-body">
                                {{region}}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    Sogn
                                </div>
                            </div>
                            <div class="panel-body">
                                {{sogn}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    Politikreds
                                </div>
                            </div>
                            <div class="panel-body">
                                {{police_zone}}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    Opstillingskreds
                                </div>
                            </div>
                            <div class="panel-body">
                                {{vote_area}}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    Retskreds
                                </div>
                            </div>
                            <div class="panel-body">
                                {{lawcourt}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading pointer">
            <div class="panel-title">
                Find adressen
            </div>
        </div>
        <div class="panel-body">
            <div id="map"></div>
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading pointer">
            <div class="panel-title">
                Tinglysningdata
            </div>
        </div>
        <div class="panel-body">
            <button data-query="{{tinglysningQuery}}" class="btn btn-block btn-lg btn-primary fetch-tinglysning-data">
                Hent tinglysningsdata
                <i class="fa fa-home"></i>
                <i style="display:none;" class="fa fa-cog fa-spin"></i>
            </button>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading pointer">
            <div class="panel-title">
                Shopping
            </div>
        </div>
        <div class="panel-body">

            <div id="stores"></div>

        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading pointer">
            <div class="panel-title">
                Rå data
            </div>
        </div>
        <div class="panel-body">
            <pre>{{debugoutput}}</pre>
        </div>
    </div>

</script>
