<script id="stores-template" type="text/x-handlebars-template">

    <div class="stores">

        <div class="row">
            {{#each this}}
                <div class="col-sm-3 col-md-3">
                    <div class="store">
                        <div class="name">{{this.branding.name}}</div>

                        <a class="image-container" href="{{this.branding.website}}" target="_blank">
                            <img class="img-responsive image" src="{{this.branding.logo}}">
                        </a>

                        <div class="store-info">
                            <div class="address">
                                <a href="https://maps.google.com/?q={{this.street}}, {{this.zip_code}} {{this.city}}, {{this.country.id}}" target="_blank">
                                    {{this.street}},
                                    <br>
                                    {{this.zip_code}} {{this.city}}
                                </a>
                            </div>
                            <div class="distance">Afstand: {{this.distance}} meter</div>
                        </div>

                        <div class="social-icons">
                            {{#if this.branding.website}}
                                <a href="{{this.branding.website}}" target="_blank"><i class="fa fa-2x fa-globe"></i></a>
                            {{/if}}
                            {{#if this.facebook_page_id}}
                                <a href="https://facebook.com/{{this.facebook_page_id}}" target="_blank"><i class="fa fa-2x fa-facebook-square"></i></a>
                            {{/if}}
                            {{#if this.youtube_user_id}}
                                <a href="https://youtube.com/user/{{this.youtube_user_id}}" target="_blank"><i class="fa fa-2x fa-youtube-square"></i></a>
                            {{/if}}
                            {{#if this.twitter_handle}}
                                <a href="https://twitter.com/{{this.twitter_handle}}" target="_blank"><i class="fa fa-2x fa-twitter-square"></i></a>
                            {{/if}}
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>


    </div>

</script>
