<script id="tinglysning-template" type="text/x-handlebars-template">



<div class="row">
    <div class="col-sm-4 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    Ejendomstype
                </div>
            </div>
            <div class="panel-body">
                {{houseType}}
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    Ejendomsværdi
                </div>
            </div>
            <div class="panel-body">
                {{#if houseVal}}
                    {{houseVal}}
                {{else}}
                    Ingen data tilgængelig.
                {{/if}}
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    Grundværdi
                </div>
            </div>
            <div class="panel-body">
                {{#if propertyVal}}
                    {{propertyVal}}
                {{else}}
                    Ingen data tilgængelig.
                {{/if}}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4 col-md-4">
    {{#each this}}
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    Ejere
                </div>
            </div>
            <div class="panel-body">
                {{#if this}}
                    {{this}}
                {{else}}
                    Ingen data tilgængelig.
                {{/if}}
            </div>
        </div>
    {{/each}}
    </div>


</div>



    <pre>{{debugoutput}}</pre>

</script>
