<!DOCTYPE html>
<html lang="da">
	<head>

		<title>Jumbotron Template for Bootstrap</title>

		<% include ../partials/headers.ejs %>

	</head>
	<body>

		<% include ../partials/navigation.ejs %>

		<div class="jumbotron">
			<div class="container">
				<form>
					<div class="form-group form-group-lg has-feedback">
						<input class="form-control typeahead" type="text" placeholder="Angiv adresse" autocomplete="off" spellcheck="false" autofocus>
					</div>
				</form>
			</div>
		</div>

		<div class="container">

			<div id="result" style="display:hidden;">
				
			</div>

			<% include ../partials/footers.ejs %>
		</div>

		<% include ../partials/javascripts.ejs %>

	</body>
</html>
